solo_local/
11_mongoose/ejemplo09-mongoose/node_modules
11_mongoose/bd_libros
app_hoteles/api/bd_hotel/index-1-7439908563928771020.wt
app_hoteles/api/bd_hotel/WiredTiger
app_hoteles/api/bd_hotel/WiredTiger.lock
app_hoteles/api/bd_hotel/WiredTiger.turtle
app_hoteles/api/bd_hotel/WiredTiger.wt
app_hoteles/api/bd_hotel/WiredTigerLAS.wt
app_hoteles/api/bd_hotel/_mdb_catalog.wt
app_hoteles/api/bd_hotel/collection-0-7439908563928771020.wt
app_hoteles/api/bd_hotel/collection-2-7439908563928771020.wt
app_hoteles/api/bd_hotel/collection-7-7439908563928771020.wt
app_hoteles/api/bd_hotel/diagnostic.data/metrics.2017-02-14T18-47-33Z-00000
app_hoteles/api/bd_hotel/diagnostic.data/metrics.2017-02-15T15-21-54Z-00000
app_hoteles/api/bd_hotel/index-3-7439908563928771020.wt
app_hoteles/api/bd_hotel/index-4-7439908563928771020.wt
app_hoteles/api/bd_hotel/index-8-7439908563928771020.wt
app_hoteles/api/bd_hotel/journal/WiredTigerLog.0000000002
app_hoteles/api/bd_hotel/journal/WiredTigerPreplog.0000000001
app_hoteles/api/bd_hotel/journal/WiredTigerPreplog.0000000002
app_hoteles/api/bd_hotel/mongod.lock
app_hoteles/api/bd_hotel/sizeStorer.wt
app_hoteles/api/bd_hotel/storage.bson
app_node_hoteles/db_hotels/