<div class="container">
    <!-- Header de la pagina -->
    <header class="page-header">
        <nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" routerLinkActive="active" routerLink="/reservas">Node Hoteles</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a routerLinkActive="active" routerLink="/reservas">Reservas</a></li>
                    <li routerLinkActive="active"><a routerLinkActive="active" routerLink="/admin">Admin</a></li>
                    <li>
                        <a href="#"> </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <router-outlet>
    </router-outlet>

</div>



<footer class="footer">
    <div class="container">
        <p class="text-muted">Node Hoteles 2017.</p>
    </div>
</footer>